<!-- <h2>{{vegetable.name}} Details</h2>
<div><span>Id: </span>{{vegetable.id}}</div>
<div><span>Name: </span>{{vegetable.name}}</div>
<div><span>Plant Time: </span>{{vegetable.plant_time}}</div>
<div><span>Harvest Time: </span>{{vegetable.harvest_time}}</div>
<div><span>Suitable Mixed Culture: </span>{{vegetable.suitable_mixed_culture}}</div> -->


<h2>List of Vegetables</h2>
<ul class="heroes">
  <li *ngFor="let vegetable of vegetables">
      <span class ="badge">{{vegetable.id}}</span> {{vegetable.name}}{{vegetable.harvest_time}}
  </li>
</ul>
