<h2>List of all Vegetables</h2>
<div class="row">
<div class="column">
  <ul class="vegetables">
    <li *ngFor="let vegetable of vegetables"
      [class.selected]="vegetable === selectedVeg"
      (click)="onSelect(vegetable)">
      <!-- <span class="badge">{{vegetable.id}}</span>{{vegetable.name}} -->
      <span>{{vegetable.name}}</span>
    </li>
    <app-vegetable-adding></app-vegetable-adding>
  </ul>
</div>
<div class="column">
  <app-vegetable-detail [vegetable]="selectedVeg"></app-vegetable-detail>
  <button type="button" class="btn btn-primary" (click)="onPlant()">Let's plan(t) this one</button>
</div>

</div>
