<div *ngIf="vegetable">

  <h2>{{vegetable.name | uppercase}} Details</h2>
  <div><span>id: </span>{{vegetable.id}}</div>
  <div>
    <label>name:
      <input [(ngModel)]="vegetable.name" placeholder="name"/>
    </label>
  </div>

  <h4>Plant this vegetable:</h4>
  <form (submit)="onPlantingSubmit()">
    <div class="form-group">
      <label>Plant Date</label>
      <input type="text" [(ngModel)]="plantdate" name="plantdate" class="form-control">
    </div>
    <div class="form-group">
      <label>Harvest Date</label>
      <input type="text" [(ngModel)]="harvdate" name="harvdate" class="form-control" >
    </div>
    <!-- Share your experiences:
    <!-- <div class="form-group">
      <label>Experiences</label>
      <input type="experiences" [(ngModel)]="experiences" name="experiences" class="form-control">
    </div> -->
    <input type="submit" class="btn btn-primary" value="Let's plan(t) this one">
  </form>
</div>
