<h2>List of your planted Vegetables</h2>
<div *ngIf="user">

<div class="row">
<div class="column">

  <ul class="plantedvegs">
  <li *ngFor = "let plantedveg of plantedvegs"
    [class.selected]="plantedveg === selectedVeg"
    (click)="onSelect(plantedveg)">
    <span class="badge">{{plantedveg.plantamount}}</span>{{plantedveg.name}}
    <div>Plant Location: {{plantedveg.plantlocation}}</div>
    <div>Plant Date: {{plantedveg.plantdate}}</div>

  </li>
  </ul>
</div>
<!-- <div class="column">
  <app-vegetable-detail [vegetable]="selectedVeg"></app-vegetable-detail>
</div> -->
</div>
