<h2>Hello Folks!</h2>
<p>
  Thanks for registering. This is your personal Garden Organizer.
  This website can help you keeping track of your planted seeds in your garden.
  The website is considered as a tool to connect with other farmers for sharing experiences and details about organic farming.
  Up to this point the website provides a public list of vegetables, which every user can see. You are able to add new vegetables with specific data and comments.
  From the "List of Vegetables" you can choose vegetables which you have planted and you can add them to your own private garden list.
  All your planted Vegetables appear in "My Garden".
</p>
<p>
  As you already realised this website is a Beta Version. I am thankful for any Tips and Bugs you discover. Any necessary functions you might want to have are collected and maybe implemented later on.
  Please write me: j.hlkr@hotmail.com
</p>
